<div class="flex">
  <div class="flex_part1">
    <p class="main_header">Screen</p>
    <div class="screen" #dropzone (drop)="drop($event)">
      <div
        class="fields_option"
        *ngFor="let item of dropZoneItems"
        cdkDrag
        [cdkDragData]="dropZoneItems"
        (cdkDragStarted)="onDrag($event)"
        cdkDragBoundary=".screen"
        [ngStyle]="{
          position: 'absolute',
          top: item.position?.top + 'px',
          left: item.position?.left + 'px'
        }"
      >
        <div *ngIf="item.type === 'input'">
          <h2 class="fields_option-header">Input Field</h2>
          <input class="fields_option-input" [type]="item.type" />
        </div>
        <div *ngIf="item.type === 'image'">
          <img [src]="item.src" alt="Image" class="fields_option-img" />
        </div>
        <div *ngIf="item.type === 'clock'">
          <h2 class="fields_option-header">Time</h2>
          <div class="fields_option-time" #timeContainer></div>
        </div>
        <div *ngIf="item.type === 'dropdown'">
          <h2 class="fields_option-header">Dropdown</h2>
          <select name="Options" class="fields_option-input">
            <option *ngFor="let option of item.options" [value]="option">
              {{ option }}
            </option>
          </select>
        </div>
      </div>
    </div>
  </div>

  <div class="flex_part2">
    <p class="main_header">Fields</p>
    <div
      class="fields"
      cdkDropList
      #fields="cdkDropList"
      (cdkDropListDropped)="onDrop($event)"
    >
      <div
        class="fields_option"
        *ngFor="let component of components"
        cdkDrag
        cdkDragBoundary=".screen"
        [cdkDragDisabled]="isItemInDropZone(component)"
        [cdkDragData]="component"
        (cdkDragStarted)="onDragStart($event)"
      >
        <div *ngIf="component.type === 'input'">
          <h2 class="fields_option-header">Input field</h2>
          <input class="fields_option-input" [type]="component.type" />
        </div>
        <div *ngIf="component.type === 'image'">
          <img [src]="component.src" alt="Image" class="fields_option-img" />
        </div>
        <div *ngIf="component.type === 'clock'">
          <h2 class="fields_option-header">Time</h2>
          <div class="fields_option-time" #timeContainer></div>
        </div>
        <div *ngIf="component.type === 'dropdown'">
          <h2 class="fields_option-header">Dropdown</h2>
          <select name="Options" class="fields_option-input">
            <option [value]="option" *ngFor="let option of component.options">
              {{ option }}
            </option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>
